{% extends "chat/base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

<div class="contact-page">

    <!-- TOP SECTION -->
    <div class="top-section">
        <h1>Contact Us</h1>
        <p>Send us a message and we’ll respond shortly</p>
    </div>

    <!-- FORM CARD -->
    <div class="form-card">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="input-group">
                    <input type="text" name="full_name" placeholder="Full Name">
                </div>

                <div class="input-group">
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>

            <div class="input-group">
                <textarea name="user_message_box" placeholder="Message here..."></textarea>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <p class="error-text"> {{ message }} </p>
                {% endfor %}
            {% endif %}

            <div class="form-bottom">
                <button type="submit">Send Now</button>
            </div>

        </form>

    </div>

</div>

{% endblock %}