{% extends "chat/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="auth-page">

    <!-- TOP -->
    <div class="auth-top">
        <h1>Welcome Back</h1>
        <p>Login to continue to SoulSync</p>
    </div>

    <!-- FORM -->
    <div class="auth-card">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" placeholder="Username">
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Password">
            </div>

            {% if messages %}
            {% for message in messages %}
            <p class="error-text">{{ message }}</p>
            {% endfor %}
            {% endif %}

            <button type="submit">Login</button>

            <p class="switch">
                Don’t have an account?
                <a href="/register/">Register</a>
            </p>

        </form>

    </div>

</div>

{% endblock %}
